/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.grid {
  width: 100%;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
}
.grid-item{

}
.touchless{
  flex-basis: 33%;
}
.touchless.active{

}
.touchless-app{
  
}